# Properties files are configuration files used by PHING scripts containing:
# key=value
# more info at: https://redweb.atlassian.net/wiki/display/RWEB/Using+PHING+for+packaging+and+testing+an+extension

# Do you want this PHING script to push the updated files?
push=false
